.containers > div {
	display: inline-block;
	border: 1px solid;
	height: 300px;
	width: 400px;
	margin: 10px;
}

.containers > * {
	vertical-align: middle;
}

containers {
	height: 320px;
}

#display {
	width: 100px;
	border: 0px;
}

#reset {
	margin-top: 50px;
	margin-left: 12px;
	text-align: center;
}

#burglar {
	padding-left: 300px;
	height: 100px;
}

#mansion {
	padding-left: 250px;
	height: 100px;
}

img {
 	height: 100px;
	display: inline-block;
}

div {
	display: inline-block;
}

#knapsackContents {
	border: 0px;
	width: 100px;
}

#locations {
	display: block;
}

figure {
	height: 100px;
	margin: 10px;
}
figcaption {
	text-align: center;
}

#housetxt {
	padding-left: 200px;
}

#sacktxt {
	padding-left: 150px;
}