.containers > div {
	display: inline-block;
	border: 1px solid;
	height: 300px;
	width: 400px;
	margin: 10px;
}

containers {
	height: 320px;
}

#burglar {
	padding-left: 300px;
	height: 100px;
}

#mansion {
	padding-left: 100px;
}

img {	
	display: inline-block;
	height: 100px;
}

div {
	display: inline-block;
}

#locations {
	display: block;
}

figure {
	height: 100px;
	margin: 10px;
}
figcaption {
	text-align: center;
}